@model PagedList.IPagedList<ClotheSstore.Models.Customer>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>

</p>
@using (Html.BeginForm("Index", "Customers", FormMethod.Get, new { @class = "form-inline" }))
{
        <div class="card-body">
            <h4>Tìm khách hàng</h4>
            <div class="m-t-25" style="max-width: 500px">
                <form>
                    <div class="row">
                        <div class="col">
                            <input type="Text" class="form-control" value="@ViewBag.Keyword" name="searchString" placeholder="Nhập tên cần tìm">
                            <input type="submit" class="btn btn-danger" value="Tìm">
                        </div>
                    </div>
                </form>
            </div>

        </div>

}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã khách hàng</th>
                <th scope="col">@Html.ActionLink("Tên khách hàng", "Index", new { sortProperty = "nameCustomer", sortOrder = ViewBag.SortOrder, searchString = ViewBag.Keyword, customerid = ViewBag.Subject })</th>
                <th scope="col">Tài khoản</th>
                <th scope="col">Mật khẩu</th>
                <th scope="col">Ngày Sinh</th>
                <th scope="col">Email</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <th scope="row">#@i</th>
                        <td>@item.codeCustomer</td>
                        <td>@item.nameCustomer</td>
                        <td>@item.userName</td>
                        <td>@item.passWord</td>
                        <td>@string.Format("{0:dd-MM-yyyy}", item.birthDay)</td>
                        <td>@item.email</td>
                        <td>@item.address</td>
                        <td>@item.phone</td>
                        <td class="text-right">
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                <a href="/Admin/Customers/Edit?id=@item.idCustomer"><i class="anticon anticon-edit"></i></a>
                            </button>
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                <a href="/Admin/Customers/Delete?id=@item.idCustomer"><i class="anticon anticon-delete"></i>
                            </button>
                        </td>
                    </tr>
                }
            }


        </tbody>
    </table>
    <div class="col-lg-4 text-left">
        <a href="@Url.Action("Create", "Customers")">
            <button class="btn btn-primary btn-tone m-r-5">
                <i class="anticon anticon-plus-circle m-r-5"></i>
                Thêm khách hàng
            </button>
        </a>
    </div>
</div>

<!-- Thêm mã phân trang -->
<br />
<div class="row">
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
        @using (Html.BeginForm("Index", "Customers", FormMethod.Get))
        {
            <p>
                Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.Size, new { @onchange = "this.form.submit();", @class = "custom-select", @style = "width: 70px;" })
                
            </p>

            @Html.Hidden("page", (object)ViewBag.Page)
            @Html.Hidden("sortProperty", (object)ViewBag.SortProperty)
            @Html.Hidden("sortOrder", (object)ViewBag.SortOrder)
            @Html.Hidden("searchString", (object)ViewBag.Keyword)
            @Html.Hidden("categoryID", (object)ViewBag.Subject)
        }
    </div>
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
        <h5 class="text-dark font-weight-semibold" style="margin-right: 20px">Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</h5>
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, size = ViewBag.CurrentSize, sortProperty = ViewBag.SortProperty, sortOrder = ViewBag.SortOrder, searchString = ViewBag.Keyword }))


<!-- Kết thúc -->
