@model ClotheSstore.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thông tin khách hàng</h4>
                <div class="table-responsive">
                    <table class="product-info-table m-t-20">
                        <tbody>
                            <tr>
                                <td>Mã sản phẩm:</td>
                                <td>
                                    @Html.DisplayFor(model => model.codeProduct)
                                </td>
                            </tr>
                            <tr>
                                <td>Tên sản phẩm:</td>
                                <td>
                                    @Html.DisplayFor(model => model.nameProduct)
                                </td>
                            </tr>
                            <tr>
                                <td>Mô tả:</td>
                                <td>
                                    @Html.DisplayFor(model => model.describe)
                                </td>
                            </tr>
                            <tr>
                                <td>Hình ảnh:</td>
                                <td>
                                    @Html.DisplayFor(model => model.thumb)
                                </td>
                            </tr>
                            <tr>
                                <td>Số lượng:</td>
                                <td>
                                    @Html.DisplayFor(model => model.quantity)
                                </td>
                            </tr>
                            <tr>
                                <td>Giá:</td>
                                <td>
                                    @Html.DisplayFor(model => model.price)
                                </td>
                            </tr>
                            <tr>
                                <td>Ngày thêm:</td>
                                <td>
                                    @Html.DisplayFor(model => model.updateDay)
                                </td>
                            </tr>
                            <tr>
                                <td>Tên danh mục sản phẩm:</td>
                                <td>
                                    @Html.DisplayFor(model => model.ProductCategory.nameProductCategory)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idProduct }) |
    @Html.ActionLink("Back to List", "Index")
</p>
