@model PagedList.IPagedList<ClotheSstore.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}

<h2>Index</h2>

<p>

</p>
<p>
    <a href="#">content</a>
</p>



<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            @using (Html.BeginForm("Index", "Products", FormMethod.Get, new { @class = "form-inline" }))
            {
                <div class="col-lg-8">
                    <div class="d-md-flex">

                        <div class="m-b-10 m-r-15">
                            @Html.DropDownList("product", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="m-b-10 m-r-15">
                            <input type="Text" class="form-control" value="@ViewBag.Keyword" name="searchString" placeholder="Nhập sản phẩm cần tìm">
                        </div>
                        <div class="m-b-10">
                            <input type="submit" class="btn btn-danger" value="Tìm">
                        </div>
                    </div>
                </div>

            }
            <div class="col-lg-4 text-right">
                <a href="@Url.Action("Create", "Products")">
                    <button class="btn btn-primary btn-tone m-r-5">
                        <i class="anticon anticon-plus-circle m-r-5"></i>
                        Thêm sản phẩm
                    </button>
                </a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">@Html.ActionLink("Tên sản phẩm", "Index", new { sortProperty = "nameProduct", sortOrder = ViewBag.SortOrder, searchString = ViewBag.Keyword, productid = ViewBag.Subject })</th>
                        <th scope="col">Mã sản phẩm</th>
                        <th scope="col">@Html.ActionLink("Số lượng", "Index", new { sortProperty = "quantity", sortOrder = ViewBag.SortOrder, searchString = ViewBag.Keyword, productid = ViewBag.Subject })</th>
                        <th scope="col">@Html.ActionLink("Giá", "Index", new { sortProperty = "price", sortOrder = ViewBag.SortOrder, searchString = ViewBag.Keyword, productid = ViewBag.Subject })</th>
                        <th scope="col">Category</th>
                        <th scope="col">@Html.ActionLink("Ngày nhập", "Index", new { sortProperty = "updateDay", sortOrder = ViewBag.SortOrder, searchString = ViewBag.Keyword, productid = ViewBag.Subject })</th>
                        <th scope="col">Mô tả</th>
                        <th scope="col">#</th>
                    </tr>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td>
                                #@i
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid rounded" src="~/Areas/Admin/Images/Product_Images/@item.thumb" style="max-width: 60px" alt="">
                                    <h6 class="m-b-0 m-l-10">@item.nameProduct</h6>
                                </div>
                            </td>
                            <td>@item.codeProduct</td>
                            <td>@item.quantity</td>
                            <td>@string.Format("{0:#,0} VNĐ", item.price)</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div>@item.ProductCategory.nameProductCategory</div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div>@string.Format("{0:dd-MM-yyyy}", item.updateDay)</div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">

                                    <div>@item.describe</div>
                                </div>
                            </td>
                         
                            <td class="text-right">
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                    <a href="/Admin/Products/Edit?id=@item.idProduct"><i class="anticon anticon-edit"></i></a>
                                </button>
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                    <a href="/Admin/Products/Delete?id=@item.idProduct"><i class="anticon anticon-delete"></i>
                                </button>
                            </td>
                        </tr>

                    }
                    }
                </thead>          
            </table>
        </div>
        <!-- Thêm mã phân trang -->
        <br />
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                {
                    <p>
                        Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.Size, new { @onchange = "this.form.submit();", @class = "Product-select", @style = "width: 70px;" })
                    </p>

                    @Html.Hidden("page", (object)ViewBag.Page)
                    @Html.Hidden("sortProperty", (object)ViewBag.SortProperty)
                    @Html.Hidden("sortOrder", (object)ViewBag.SortOrder)
                    @Html.Hidden("searchString", (object)ViewBag.Keyword)
                    @Html.Hidden("categoryID", (object)ViewBag.Subject)
                }
            </div>
            <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
                <h5 class="text-dark font-weight-semibold" style="margin-right: 20px">Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</h5>
            </div>
        </div>

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, size = ViewBag.CurrentSize, sortProperty = ViewBag.SortProperty, sortOrder = ViewBag.SortOrder, searchString = ViewBag.Keyword }))
        <!-- Kết thúc -->
