@using ClotheSstore.Models
@model List<ClotheSstore.Models.GioHang>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Style/assets/css/app.min.css" rel="stylesheet">

<h2 style="color:red;">@ViewBag.ThongBao</h2>

<div class="container">
    <div class="card">
        <div class="card-body">
            @{
                Customer customer = (Customer)Session["Customer"];
            }
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)


                <div id="invoice" class="p-h-30">

                    <div class="m-t-15 lh-2">
                        <div class="inline-block">
                            <img class="img-fluid" src="assets/images/logo/logo.png" alt="">
                            <address class="p-l-10">
                                <span class="font-weight-semibold text-dark">Enlink, Inc.</span><br>
                                <span>9498 Harvard Street</span><br>
                                <span>Fairfield, Chicago Town 06824</span><br>
                                <abbr class="text-dark" title="Phone">Phone:</abbr>
                                <span>(123) 456-7890</span>
                            </address>
                        </div>
                        <div class="float-right">
                            <h2>THÔNG TIN ĐƠN HÀNG</h2>
                            <h2 style="color:red;">@ViewBag.ThongBao</h2>
                        </div>
                    </div>
                    <div class="row m-t-20 lh-2">
                        <div class="col-sm-9">
                            <h3 class="p-l-10 m-t-10">Invoice To:</h3>
                            <address class="p-l-10 m-t-10">
                                <span class="font-weight-semibold text-dark">@customer.nameCustomer </span><br>
                                <span>@customer.address</span><br>
                            </address>
                        </div>
                        <div class="col-sm-3">
                            <div class="m-t-80">
                                <div class="text-dark text-uppercase d-inline-block">
                                    <span class="font-weight-semibold text-dark">Số điện thoại :</span>
                                </div>
                                <div class="float-right">@customer.phone</div>
                            </div>
                            <div class="text-dark text-uppercase d-inline-block">
                                <span class="font-weight-semibold text-dark">Date :</span>
                            </div>
                            <div class="float-right">@DateTime.Now.ToShortDateString()</div>
                        </div>
                    </div>
                    <div class="m-t-20">
                        <div class="table-responsive">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Hình</th>
                                        <th>Items</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tbody>
                                        <tr>
                                            <th>@item.iSanPham</th>
                                            <td><img class="img-fluid rounded" src="~/Areas/Style/Images/ImagesBooks/@item.sAnhSanPham" style="max-width: 60px" alt=""></td>
                                            <td>@item.sTenSanPham</td>
                                            <td>@item.iSoLuong</td>
                                            <td>@string.Format("{0:#,##0,0}", @item.dDonGia)</td>
                                            <td>@string.Format("{0:#,##0,0}", @item.ThanhTien)</td>
                                            <td>@item.iSize</td>
                                        </tr>
                                    </tbody>
                                }
                            </table>

                        </div>
                        <div class="row m-t-30 lh-1-8">
                            <div class="col-sm-12">
                                <div class="float-right text-right">
                                    <p>Số lượng sách: @string.Format("{0:#,##0}", @ViewBag.TongSoLuong)</p>

                                    <hr>
                                    <h3><span class="font-weight-semibold text-dark">Total :</span> @string.Format("{0:#,##0,0} VNĐ", @ViewBag.TongTien)</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-30 lh-2">
                            <div class="col-sm-12">
                                <div class="border-bottom p-v-20">
                                    <p class="text-opacity"><small>In exceptional circumstances, Financial Services can provide an urgent manually processed special cheque. Note, however, that urgent special cheques should be requested only on an emergency basis as manually produced cheques involve duplication of effort and considerable staff resources. Requests need to be supported by a letter explaining the circumstances to justify the special cheque payment.</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="row m-v-20">
                            <div class="col-sm-6">
                                <img class="img-fluid text-opacity m-t-5" width="100" src="assets/images/logo/logo.png" alt="">
                            </div>
                            <div class="col-sm-6 text-right">
                                <small><span class="font-weight-semibold text-dark">Phone:</span> (123) 456-7890</small>
                                <br>
                                <small>support@themenate.com</small>
                            </div>
                        </div>
                    </div>
                    <tr style="height:40px;">
                        <td></td>
                        <td>
                            <input type="submit" value="ĐẶT HÀNG" />
                        </td>
                    </tr>

                </div>
            }
        </div>
    </div>
</div>