@model ClotheSstore.Models.Product_Size

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product_Size</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thông tin khách hàng</h4>
                <div class="table-responsive">
                    <table class="product-info-table m-t-20">
                        <tbody>
                            <tr>
                                <td>Mã sản phẩm:</td>
                                <td>
                                    @Html.DisplayFor(model => model.quantity)
                                </td>
                            </tr>
                            <tr>
                                <td>Tên sản phẩm:</td>
                                <td>
                                    @Html.DisplayFor(model => model.quantityinstock)
                                </td>
                            </tr>
                            <tr>
                                <td>Mô tả:</td>
                                <td>
                                    @Html.DisplayFor(model => model.Product.codeProduct)
                                </td>
                            </tr>
                            <tr>
                                <td>Hình ảnh:</td>
                                <td>
                                    @Html.DisplayFor(model => model.Size.nameSize)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
